@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville&family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=EB+Garamond&family=Libre+Baskerville&family=Montserrat+Alternates&display=swap');

.App {
  display: grid;
  grid-template-rows: 10% 5% 75% 10%; /*header takes up 15%, body takes up 75%, footer takes up 10% */
  min-height: 100vh;
  font-family: 'Libre Baskerville', 'BIZ UDPMincho', sans-serif;
}

/* Header styles */
.header {
  grid-row: 1 / 2; /*header element will start on the first row and end on the second row */
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 2em;
  color: #333;
}

.modals {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

/* Navigation styles */
.nav {
  grid-row: 2 / 3;
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin: 0 20px;
}

.nav a {
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
}

.nav a:hover {
  text-decoration: underline;
}

/* Body styles */
.body {
  grid-row: 3 / 4;
  background-color: #fff
}

/* Footer styles */
.footer {
  grid-row: 4 / 5;
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
  text-align: center;
}
